<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <property name="TOPJAVA_ROOT" value="C:/project/topjava/log/app.log" />

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${TOPJAVA_ROOT}</file>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="ru.demo.exercise" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>
</configuration>